html {
  font-size: 18px;
}

body {
  width: 1160px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  position: relative;
}

header {
  width: 1160px;
  height: 30rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  }

nav,
main,
footer {
  width: 960px;
  margin: 0 auto;
}

nav {
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  position: relative;
  top: 2rem;
  z-index: 1;
}

.navleft,
.menu {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 960px;
}

.logo img {
  padding-left: 2rem;
  height: 1.5rem;
}

.bizname {
  padding-left: 1rem;
}

.menu {
  justify-content: flex-end;
}

.menu p {
  padding-right: 2rem;
}

.phototext {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 1032px;
  margin: 0 auto;
  padding-top: 10rem;
  position: relative;
  z-index: 1;
}

.phototext p {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  width: auto;
}

.iconsection {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 8rem;
  width: 960px;
  position: relative;
  margin: 0 auto;
  padding: 3rem 0;
}

.icon1,
.icon2,
.icon3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  padding: 0 3rem;
  position: relative;
}

.icon1 img,
.icon2 img,
.icon3 img {
  width: 3.5rem;
}

.infosection {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 960px;
  position: relative;
  margin: 0 auto;
}

.philosophysection,
.appointmentssection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 35%;
  padding: 0 5%;
  position: relative;
}

.infosectionheading {
  background-color: cadetblue;
  color: white;
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  font-weight: bold;
}

.philosophysection p,
.appointmentssection p {
  padding-top: 1rem;
  width: 100%;
  margin: 0 auto;
}

footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5rem 0 0 100px;
    padding: 4rem 0;
    background-color: azure;
    color: black;
}

footer img {
  color: grey;
  height: 1.5rem;
  padding-left: 4rem;
}

footer p {
  padding-left: 1rem;
}
